# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular Data Science tools
- Express basic arithmetic

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. JSON

Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
2. NumPy
3. ggplot

| Data Science Tools |
| -------------|
| RStudio |
| TensorFlow |
| Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [ ]:
## Author
Tyler Palmerton